

body{
	font-family: "Lucida Console" , Monaco, monospace;
	background-color: #2F4F4F;
	margin: 0;
  margin-bottom: 120px;
}

/* things to work on:
-dual layout
-adding in javaScript games
 -making changes to javaScript game
-adding php to forms
 -finding a color scheme
-name of website
-contact form + email link simply for presentation
-COUNTER
 -creating a dropdown menu using unordered and ordered lists
 -add three hours 10/6
*/


.site-header {
	
	background: #7d497b;
	color: #fff;
	padding: 20px 5%;
	
}

.site-header h1{
	
	margin: 0;
	float: left;
	font-size: 20px;
	
}

.navMenu ul{
	
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	
}

.contactLink{
	
	padding: 40px, 20px;
	
}
.navMenu ul li{
	
	display: inline;
	
}

.navMenu ul li a{
	
	text-decoration: none;
	color: #fff;
	
}

a{
	
	color: #DA70D6;
}

a:hover{
	
	color: white;
	
}

.navMenu ul li a:hover{
	
	color: #000;
}

.billboard{
	
	background: #483D8B;
	padding: 40px;
	text-align: center;
	
}

.billboard h2{
	
	margin-top: 0; 
	
	
}

.paragraph{
	
	background-color: #9370DB;
	text-align: center;
	padding: 40px;
	margin-top: 0;
	/*float: left;*/
	
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
	text-align: left;
    margin: .5;
    padding: 0;
    overflow: hidden;
    background-color: white;
	max-width: 100%;
}

.webpageBanner{
	display: block;
	margin: 0 auto; 
	
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;
color: #fff;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

button{
	
  color: #6496c8;
  background: rgba(255,255,255,255);
  border: solid 3px #7d497b;
  height: 100px; 
  width: 250px;
  
}
button:hover,{
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}

button:active,{
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
  z-index: 5;
}

}
/* STUFF FOR SLIDESHOW */

	#pictures {
	position: absolute;
	max-width: 50%;
		/* height: 100 px; */
	/*	padding: 0 px; */
		list-style-type: none;
	}
	
	.picture {
        position: absolute;
	/* 	left: 0 px;
	*/	top: 2 px;
/* 		width: 100 px;
		height: 100 px; */
		opacity: 0;
		z-index: 1;
	display: block;
	padding-left: 400px;
	margin: 0 auto;
 /* 	
		max-height = 10%;
		max-width = 10%; */
/* 
		box-sizing: borderbox; */
		
		-webkit-transiton: opacity 1s;
		-moz-transition: opacity 1s;
		-o-transition: opacity 1s;
		transition: opacity 1s;
	}
	
	.showing{
		opacity: 1;
		z-index: 2;
	}
	
	.card {
    max-width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	float: left;
}

.card:hover {
    box-shadow: 0 72px 144px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

